@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff');
  src: local('OpenSans'), local('OpenSans'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Bold.woff');
  src: local('OpenSans'), local('OpenSans'),
  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: OpenSans, Verdana, Geneva, Arial, Tahoma, Helvetica, sans-serif;
  font-size: 93.75%; /* 15px; 10px = 62.5%*/
  line-height: 1;
  color: #000000;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:focus, a:active, a:hover, a:visited {
  color: inherit;
}

.header, .footer {
  position: relative;
  color: #ffffff;
  background-color: #1c1f40;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-image: url(../img/football_767.jpg);
}

.header::after, .footer::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #191c3b;
  opacity: 0.95;
  content: "";
  z-index: 1;
}

.header > .container,
.footer > .container {
  position: relative;
  z-index: 2;
}

.header > .container {
  padding-top: 32px;
  padding-bottom: 70px;
}

.header > .container, 
.section_title, 
.article,
.add_information .inner,
.footer > .container {  
  padding-right: 21px;
  padding-left: 21px;
}

.logotype {
  display: block;
  width: 133px;
  height: 36px;
  margin-left: auto;
  margin-right: auto;
}

.logotype_image {
  width: inherit;
  height: inherit;
  fill: #ffffff;
}

.header_title {
  margin-top: 130px;
  margin-bottom: 80px;
  font-size: 28px;
  line-height: 31px;
}

.header_subtitle {
  display: block;
  margin-top: 22px;
  margin-left: 44px;
}

.button, .button:hover, .button:active, .button:focus {
  display: block;
  margin-bottom: 10px;
  font-size: 8px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #5e42b0;
  fill: #ffffff;
}

.button.download {
  border-radius: 15px;
}

.button.download .text {
  display: block;
  width: calc( 30px + 10em);
  padding-top: 9px;
  padding-left: 30px;
  padding-bottom: 9px;
  margin-left: auto;
  margin-right: auto;
  background-position: 0 50%;
  background-repeat: no-repeat;
  
}

.button.apple .text {
  background-image: url(../img/apple_logo_black.svg);
  background-size: 21px 24px;
}

.button.google .text {
  background-image: url(../img/google-play.svg);
  background-size: 22px 24px;
}


.button .name {
  display: block;
  font-weight: bold;
}

.section_title {
  margin-top: 25px;
  margin-bottom: 28px;
  font-size: 50px;
  font-weight: bold;
  color: #e7e7e7;
  text-transform: uppercase;
}

.athlets .section_title::after,
.players .section_title::after {
  display: block;
  margin-top: 19px;
  margin-right: auto;
  margin-left: auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
}

.athlets .section_title::after {
  width: 192px;
  height: 281px;
  background-image: url(../img/footballer_192.png);
}

.players .section_title::after {
  width: 302px;
  height: 248px;
  background-image: url(../img/basketballer_302.png);
}

.article {
  padding-bottom: 55px;
}

.athlets .article:nth-child(odd),
.athlets .article:last-child,
.players .article:nth-child(odd),
.players .article:last-child
 {
  padding-top: 60px;
}

.athlets .article:nth-child(odd),
.players .article:nth-child(odd) {
  background-color: #f5f4f9;
}

.athlets .article:last-child {
  background-color: #5e42b0;
}

.players .article:last-child {
  background-color: #090c35;
}

.article .title {
  position: relative;
  margin-bottom: 27px;
  font-size: 23px;
  font-weight: bold;
  color: #c1c1c1;
  text-transform: uppercase;
}

.article .number {
  position: relative;
  top: -6px;
  font-size: 14px;
  color: #000000;
}

.players .article:last-child .number {
  color: #8765dd;
}

.article .number::after {
  position: absolute;
  bottom: -3px;
  display: block;
  height: 3px;
  width: 1em;
  background-color: #5e42b0;
  content: '';
  border-radius: 1px;
}

.article:last-child .number::after{
  background-color: #ffffff;
}

.article .content {
  font-size: 15px;
}

.article:last-child .content {
  color: #ffffff;
}

.add_information .section_title {
  display: none;
}

.add_information .article,
.add_information .article:nth-child(odd),
.add_information .article:last-child {
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.picture,
.picture img {
  width: 100vw;
  max-width: 100%;
}

.add_information .inner {
  padding-top: 33px;
  padding-bottom: 77px;
  background-color: #ffffff;
}

.add_information .title_text {
  opacity: 0.4;
}

.add_information .number {
  position: absolute;
  display: block;
  margin-top: -91px;
  padding: 27px;
  color: #ffffff;
  background-color: #5e42b0;
}
.add_information .number::after {
  top: 47px;
  background-color: #8f7bc8;
}

.add_information .article:last-child .content {
  color: inherit;
}

.footer {
  background-image: url(../img/game_767.jpg);
}

.footer > .container {
  padding-top: 97px;
  padding-bottom: 10px;
}

.footer_title {
  margin-top: 48px;
  margin-bottom: 76px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.footer_subtitle {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: #9b8ec1;
}

.footer .buttons {
  margin-bottom: 72px;
}

.button.logotype {
  padding-top: 14px;
  padding-right: 8px;
  padding-bottom: 14px;
  padding-left: 8px;
  width: 72px;
  height: 77px;
  box-sizing: border-box;
  background: #50379a;
  background: linear-gradient(180deg, #7656d6 0%, #50379a 100%);
  border-radius: 13px;
}

.button.logotype .logotype_image {
  width: 56px;
  height: auto;
}

@media (min-width: 641px) {  
  .buttons {
    display: flex;
    justify-content: space-around;
  }
  .button, .button:hover, .button:active, .button:focus {
    margin-bottom: 0;
  }
  
  .main {
    overflow: hidden;
  }
  
  .section {
    position: relative;
  }  
  
  .section_title {
    font-size: 80px;
  }

  
  .athlets .section_title::after,
  .players .section_title::after {
    margin: 0;
  }
    
  .article .number {
    top: -10px;
    font-size: 18px;
  }
  
  .article .number::after {
    bottom: -5px;
    height: 5px;
    width: 1.1em;
    border-radius: 2px;
  }
  
}

@media (min-width: 641px) and (max-width: 960px) { 
  .header {
    background-image: url(../img/football_1280.jpg);
  }

  .header > .container {
    padding-top: 38px;
    padding-bottom: 81px;
  }

  .header > .container, 
  .section_title, 
  .article,
  .add_information .inner,
  .footer > .container {  
    padding-right: 34px;
    padding-left: 32px;
  }

  .logotype {
    width: 205px;
    height: 56px;
  }
  
  .header_title {
    margin-top: 181px;
    margin-bottom: 312px;
    margin-left: 58px;
    font-size: 64px;
    line-height: 1em;
  }

  .header_subtitle {
    margin-left: 105px;
  }

  .buttons {
    padding-right: 23px;
    padding-left: 27px;
  }

  .button, .button:hover, .button:active, .button:focus {
    font-size: 14px;
  }
  
  .button.download {
    width: 44%;
    border-radius: 31px;
  }

  .button.download .text {
    width: calc(69px + 10em);
    padding-top: 26px;
    padding-bottom: 22px;
    padding-left: 69px;
  }
  
  .button.download.apple .text {
    background-size: 36px 42px;
  }

  .button.download.google .text {
    background-size: 41px 45px;
  }
  
  .athlets, 
  .players {
    padding-top: 85px;
  }

  .athlets .section_title,
  .athlets .article {
    padding-left: 292px;
  }

  .players .section_title,
  .players .article {
    padding-right: 346px;
  }

  .athlets .section_title,
  .players .section_title {
    position: relative;
  }

  .athlets .section_title::after,
  .players .section_title::after {
    position: absolute;
  }

  .athlets .section_title::after {
    top: 9px;
    left: -157px;
    width: 497px;
    height: 699px;
    background-image: url(../img/footballer_497.png);
  }

  .players .section_title::after {
    top: -49px;
    right: 0;
    width: 436px;
    height: 565px;
    background-image: url(../img/basketballer_436.png);
  }

  .section_title {
    margin-bottom: 19px;
  }

  .athlets .article,
  .players .article {
    padding-top: 80px;
    padding-bottom: 36px;
  }

  .article .title {
    margin-bottom: 32px;
    font-size: 32px;
  }
  
  .article .number {
    top: -10px;
    font-size: 18px;
  }
  
  .article .number::after {
    bottom: -5px;
    height: 5px;
    width: 1.1em;
    border-radius: 2px;
  }
  
  .article .content {
    font-size: 16px;
  }

  .add_information .inner {
    padding-top: 90px;
    padding-bottom: 97px;
    background-color: #ffffff;
  }
  
  .add_information .number {
    margin-top: -170px;
    padding: 47px;
    font-size: 24px;
  }
  
  .add_information .number::after {
    top: 80px;
  }
    
  .footer {
    background-image: url(../img/game_1280.jpg);
  }
  
  .footer > .container {
    padding-top: 126px;
    padding-bottom: 23px;
  }
  
  .footer_title {
    margin-top: 82px;
    margin-bottom: 287px;
    font-size: 80px;
  }
  
  .footer_subtitle {
    font-size: 36px;
    color: #9b8ec1;
    text-transform: none;
    text-align: center;
  }
  
  .footer .buttons {
    margin-bottom: 55px;
  }
  
  .button.logotype {
    padding-top: 25px;
    padding-right: 14px;
    padding-bottom: 25px;
    padding-left: 14px;
    width: 128px;
    height: 137px;
    border-radius: 26px;
  }
  
  .button.logotype .logotype_image {
    width: 102px;
  }
}

@media (min-width: 961px)  { 
  .header {
    background-image: url(../img/football_1920.jpg);
  }

  .header > .container {
    padding-top: 45px;
    padding-bottom: 110px;
  }

  .header > .container, 
  .section_title, 
  .article .inner,
  .add_information .inner,
  .footer > .container { 
    max-width: 1557px; 
    padding-right: 14px;
    padding-left: 14px;
    margin-right: auto;
    margin-left: auto;
  }

  .logotype {
    width: 191px;
    height: 52px;
  }
  
  .header_title {
    margin-top: 295px;
    margin-bottom: 222px;
    font-size: 90px;
    line-height: 1em;
  }

  .header_subtitle {
    display: block;
    margin-top: 20px;
    margin-left: 0;
    text-align: right;
  }

  .buttons {
    justify-content: center;
  }

  .button, .button:hover, .button:active, .button:focus {
    font-size: 14px;
  }
  
  .button.download {
    width: 310px;
    border-radius: 33px;
  }
  
  .button.download:first-child {
    margin-right: 50px;
  }
  
  .button.download .text {
    width: calc(66px + 10em);
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 66px;
    
  }

  .button.download.apple .text {
    background-size: 42px 48px;
  }

  .button.download.google .text {
    background-size: 40px 50px;
  }
      
  .athlets,
  .players {
    padding-top: 115px;
  }

  .athlets .section_title_text,
  .athlets .title,
  .athlets .content {
    padding-left: 53%;
  }

  .players .section_title_text,
  .players .title,
  .players .content {
    padding-right: 48.49%;
  }

  .athlets .section_title::after,
  .players .section_title::after {
    content: none;
  }

  .athlets::after,
  .players::after {
    position: absolute;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
  }

  .athlets::after {
    top: 27px;
    right: 49.84%;
    width: 566px;
    height: 908px;
    background-image: url(../img/footballer_566.png);
  }

  .players::after {
    top: 24px;
    left: 40.01%;
    width: 991px;
    height: 815px;
    background-image: url(../img/basketballer_991.png);
  }

  .section_title {
    margin-bottom: 48px;
  }

  .article {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .article .title {
    margin-bottom: 29px;
    font-size: 36px;
  }
    
  .article .content {
    font-size: 20px;
  }
  
.add_information .inner,
.add_information .picture {
  width: 50%;
}

  .add_information .article {
    display: flex;
    padding-top: 0;
  }

  .picture {
    margin-bottom: -2px;
  }

  .find_contact .picture {
    order: 1;
  }

  .add_information .inner {
    display: flex;
    padding-top: 0;
    padding-right: 14px;
    padding-bottom: 0;
    padding-left: 126px;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
  }  

  .add_information .title {
    padding-top: 36px;
    padding-bottom: 12.85%;
    margin-bottom: 0;
    font-size: 80px;
  }
  
  .add_information .number {
    position: absolute;
    top: 0;
    left: calc(-198px - 0.5em);
    margin-top: 0;
    padding-top: 61px;
    padding-right: 70px;
    padding-bottom: 61px;
    padding-left: 70px;
    font-size: 24px;
  }

  .add_information .number::after {
    top: calc( 1em + 10px + 60px);
  }
  
  .add_information .find_contact .number {
    left: auto;
    right: calc(-198px - 0.5em);
  }
  
  .add_information .find_contact .inner {    
    padding-left: 14px;
    padding-right: 126px;
  }
    
  .footer {
    background-image: url(../img/game_1920.jpg);
  }
  
  .footer > .container {
    padding-top: 226px;
    padding-bottom: 46px;
  }

  .footer_logo {
    display: flex;
    margin-bottom: 150px;
    align-items: center;
    justify-content: center;
  }
  
  .footer_title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80px;
  }
  
  .footer_subtitle {
    font-size: 36px;
    color: #9b8ec1;
    text-transform: none;
    text-align: left;
  }
  
  .footer .buttons {
    margin-bottom: 258px;
  }
  
  .button.logotype {
    padding-top: 25px;
    padding-right: 14px;
    padding-bottom: 25px;
    padding-left: 14px;
    margin-right: 35px;
    margin-left: 0;
    width: 128px;
    height: 137px;
    border-radius: 26px;
  }
  
  .button.logotype .logotype_image {
    width: 102px;
  }
}